/* * {
  box-sizing: border-box;
  border: 1px solid green;
} */

/*/////////////////////////*/
/*/ ///// Font ayarları ///*/
/*/////////////////////////*/
.inter {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;
}

/*/////////////////////////*/
/*/ ///// App       ////////*/
/*/////////////////////////*/
.App {
  /* background-color: #e0e0e0; */
  background-color: #ffffff;
  transition: all 3s;
  display: flex;
  flex-direction: column;
  /* max-width: 1440px; */
  align-items: center;
  /* justify-content: center; */
  /* align-content: center; */
}
.App.dark {
  background-color: #252128;
}
/*/////////////////////////*/
/*////// BodyContainer ////////*/
/*/////////////////////////*/
.container {
  /* height: 97vh; */

  display: flex;
  flex-direction: column;
  max-width: 1440px;
  /* padding: 2rem 150px 2rem 150px; */
}
/*/ ////////////////////////*/
/*////// TopBar ////////*/
/*/ ////////////////////////*/
.topBar {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #777;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 1rem;
}
/*/////////////////////////*/
/*/ ///// Darkmode ////////*/
/*/////////////////////////*/
.radio-btn {
  width: 55px;
  height: 18px;
  padding: 4px;
  background-color: #4731d3;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.radio-btn .radio-inner {
  position: relative;
  width: 15px;
  height: 16px;
  background-color: #ffe86e;
  border-radius: 50%;
  transition: all 1s;
}
.radio-btn .radio-inner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -55%;
  width: 100%;
  height: 100%;
  background-color: #e92577;
  border-radius: 50%;
  transform: scale(0.05);
  transition: all 1s;
}

.radio-btn .radio-inner.active {
  transform: translateX(calc(55px - 25px));
}
.radio-btn .radio-inner.active::before {
  background-color: #3a3a3a;
  left: -5px;
  transform: scale(1);
}
.bg {
  background-color: #3a3a3a;
}

/*/ ////////////////////////*/
/*////// Language ////////*/
/*/ ////////////////////////*/
.ml {
  font-family: Inter;
  font-size: 15px;
  /* font-style: normal; */
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* line-height: 18px; */
  /* padding-left: 1rem; */
  /* font-weight: bold; */
}
/* .ml span {
  color: #4731d3;
} */
.dil {
  color: #4731d3;
}
.ml-dark {
  padding-left: 0.5rem;
}
.ml-pad {
  padding: 0px 16px 0px 12px;
}

/*/ ////////////////////////*/
/*////// LOGO       ////////*/
/*/ ////////////////////////*/

.logo {
  font-family: inter;
  font-weight: 600;
  font-size: 24px;
  width: 64px;
  height: 62px;
  padding: 10px;
  background-color: #eeebff;
  border-radius: 50px;
  transform: rotate(22deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7b61ff;
}

/*/////////////////////////*/
/*//////// Navbar /////////*/
/*/////////////////////////*/
.Navbar {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 3rem;
  /* justify-content: space-around; */
}
/*.Navbar div {
   flex-basis: 50%;
} */
.navbarNav {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;
  color: #6b7280;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 100%;
}
.navbarNav nav {
  display: inline-block;
}
#skill,
#project,
#contactLink {
  margin-left: 2.7rem;
  text-decoration: none;
}
#contactLink {
  color: #4338ca;
  padding: 6px 12px;
  border: 2px solid #4338ca;
  border-radius: 5px;
  display: inline-block;
}

/*/////////////////////////*/
/*////////  About Hero  /////////*/
/*/////////////////////////*/
.hero-line {
  font-family: inter;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  gap: 1vw;
  justify-content: left;
  align-items: center;
  color: #4338ca;
}
.line {
  width: 10%;
  height: 0px;
  border: 1px solid #3730a3;
}

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* text-align: left; */
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 2rem;
}
.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 0.5px;
}
.her {
  display: flex;
}

.socialLink {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.hireMe {
  background-color: #3730a3;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.githubL {
  border: 1px solid #3730a3;
  color: #3730a3;
  padding: 0.45rem 0.75rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  display: flex;
}

.githubL img {
  width: 22px;
  height: 22px;
  padding-right: 4px;
}
.githubL a {
  text-decoration: none;
}

.linkedinL {
  border: 1px solid #3730a3;
  color: #3730a3;
  padding: 0.45rem 0.75rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  display: flex;
}
.linkedinL img {
  width: 22px;
  height: 22px;
  padding-right: 4px;
}
.linkedinL a {
  text-decoration: none;
}
.profileImg {
  padding: 30px 0px;
}
.profileImg img {
  border-radius: 20px;
  max-height: 100%;
}

.aboutMe {
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
.aboutMe h1 {
  color: #1f2937;
  font-family: inter;
  font-weight: 700;
  font-size: 72px;
  margin: 0;
}

.aboutMe p {
  max-width: 34.5rem;
  color: #6b7280;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
}
/*/////////////////////////*/
/*//////// skills /////////*/
/*/////////////////////////*/

.containerSkills {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 2rem;
  padding-left: 150px;
  padding-right: 150px;
}

.skillText {
  display: flex;
}
#skills {
  font-family: inter;
  font-weight: 600;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  color: #1f2937;
  font-size: 48px;
}
.skillText h3 {
  font-family: inter;
  font-weight: 500;
  font-size: 30px;

  margin: 0;
  margin-top: 15px;
  color: #4338ca;
}
.skillText p {
  font-family: inter;
  font-weight: 400;
  font-size: 12px;
  color: #6b7280;
}
.skillText div {
  padding-right: 3.1rem;
  color: #6b7280;
}
.lll {
  max-width: 1140px;
  border-bottom: 1px solid #bab2e7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border-top: 1px solid #bab2e7; */
}
/*/////////////////////////*/
/*//////// Profile ////////*/
/*/////////////////////////*/
#profileHeader {
  font-family: inter;
  font-size: 48px;
  font-weight: 600;
  color: #1f2937;
}
.containerProfile {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
  /* padding-top: 6rem;
  padding-bottom: 6rem; */
}

.profile-text {
  display: flex;
}

.profile-item {
  display: flex;
  flex-direction: column;
}
.f30 {
  font-family: inter;
  font-size: 30px;
  font-weight: 500;
  color: #4338ca;
}

.birthday {
  display: flex;
}
.birthday h4,
.birthday p {
  margin: 0;
  padding: 0.5rem 2rem 0.5rem 0;
}
.birthday p {
  width: 80%;
  align-items: start;
  padding: 0.5rem 1rem 0.5rem 0;
  font-family: inter;
  font-size: 18px;
  font-weight: 400;
  color: #000;

  /* padding: 1rem 2rem 1rem 0; */
}
.birthday h4 {
  width: 125px;
  font-family: inter;
  font-size: 18px;
  font-weight: 600;
  color: #000;

  /* padding: 1rem 2rem 1rem 0; */
}
.profileAbout {
  margin-left: 2rem;
}
.profileAbout p {
  font-family: inter;
  font-size: 18px;
  font-weight: 400;
  color: #6b7280;
}

/*/////////////////////////*/
/*//////// Project /////////*/
/*/////////////////////////*/
.containerProject {
  display: flex;
  flex-direction: column;
  /* margin-top: 2rem; */
  /* padding-top: 6rem;*/
  padding-bottom: 6rem;
  padding-left: 150px;
  padding-right: 150px;
}
#projects {
  font-family: inter;
  font-size: 48px;
  font-weight: 600;
  color: #000;
}
.projects {
  display: flex;
  justify-content: space-between;
}
.projectstech {
  display: flex;
}
.project {
  width: 300px;
  /* margin-right: 4rem; */
}
.project h3 {
  font-family: inter;
  font-size: 30px;
  font-weight: 500;
  color: #4338ca;
}
.projectstech {
  font-family: inter;
  font-size: 14px;
  font-weight: 500;
  color: #3730a3;
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 18px 0;
}
.projectstech div {
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 6px;
  padding: 6px 18px;
  margin-right: 6px;
  margin-bottom: 4px;
}
.project p {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
  margin-right: 10px;
}
.project a {
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
  color: #3730a3;
  margin-right: 2px;
  /* text-decoration: none; */
  /* padding-bottom: 0.5px; */
  /* border-bottom: 1px solid #3730a3; */
}
.linka {
  display: flex;
  justify-content: space-between;
}

/*/////////////////////////*/
/*//////// footer /////////*/
/*/////////////////////////*/
.footerContainer {
  transition: all 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  /* background-color: yellowgreen; */
}
.containercontact {
  width: 1140px;
  display: flex;
  flex-direction: column;
  /* padding-top: 4rem; */
  padding-bottom: 4rem;

  padding-left: 150px;
  padding-right: 150px;
}

.containercontact h3 {
  font-family: inter;
  font-size: 42px;
  font-weight: 600;
  color: #1f2937;
  width: 600px;
  /* font-size: 50px; */
  color: #1f2937;
}

.footer-left a {
  font-family: inter;
  font-weight: 500;
  font-size: 20px;
  color: #af0c48;
  text-decoration: none;
  border-bottom: 1px solid #af0c48;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 0.5rem;
}
.contactLink {
  display: flex;
}
.contactLink div {
  flex-basis: 50%;
}
.personalLink {
  display: flex;
  /* justify-content: right; */
  align-items: center;
  justify-content: flex-end;
}
.footer-left {
  display: flex;
  align-items: center;
}
#blog_footer {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 0.625rem;
  color: #0a0a14;
}
#github_footer {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 0.625rem;
  color: #00ab6b;
}
#linkedin_footer {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 0.625rem;
  color: #0077b5;
}

/*/////////////////////////*/
/*//////// darkmode /////////*/
/*/////////////////////////*/
.dark .ml-dark {
  color: #d9d9d9;
}
.dark .dil2 {
  color: #777777;
}
.dark .dil {
  color: #bab2e7;
}
.dark .logo {
  background-color: #4731d3;
  color: #8f88ff;
}

.dark #skill,
.dark #project {
  color: #6b7280;
}
.dark #contactLink {
  background-color: #ffffff;
  color: #3730a3;
}

.dark .hero-line .line {
  border-color: #bab2e7;
}
.dark .hero-line p {
  color: #b7aaff;
}
.dark .aboutMe h1 {
  color: #aebccf;
}
.dark .aboutMe p {
  color: #ffffff;
}

.dark .hireMe {
  background-color: #e1e1ff;
  color: #000000;
  border-color: #e1e1ff;
}
/*///////////////////*/
.dark .linkedinL img {
  /* filter: opacity(0.4); */
}
.dark .githubL,
.dark .linkedinL {
  border-color: #e1e1ff;
}

.dark .socialLink a {
  color: #e1e1ff;
}
.dark #skills {
  color: #aebccf;
}

.dark .skillText h3 {
  color: #b7aaff;
}
.dark .skillText p {
  color: #ffffff;
}
.dark #profileHeader {
  color: #aebccf;
}

.dark .f30 {
  color: #b7aaff;
}
.dark .pro h4 {
  color: #ffffff;
}
.dark .pro p {
  color: #ffffff;
}
.dark .profileAbout p {
  color: #ffffff;
}

.dark #projects {
  color: #aebccf;
}

.dark .projects h3 {
  color: #cfcbff;
}
.dark .projects p {
  color: #ffffff;
}
.dark .projectstech div {
  color: #8f88ff;
  border-color: #8f88ff;
  background-color: #383838;
}

.dark .linka a {
  color: #e1e1ff;
}
.dark .footerContainer {
  background-color: #141414;
}
.dark .containercontact h3 {
  color: #aebccf;
}

.dark .footer-left a {
  color: #bab2e7;
  border-color: #bab2e7;
}

.dark #blog_footer {
  color: #e1e1ff;
}

.dark #github_footer {
  color: #17d18b;
}
.dark #linkedin_footer {
  color: #0ba6f6;
}
